body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
    text-align: center;
}

strong {
    font-weight: 500;
}

a,
a:hover,
a:focus {
    color: #19b9e7;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h1,
h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img {
    max-width: 100%;
}

form.registration-form {
    display: none;
}


::-moz-selection {
    background: #19b9e7;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #19b9e7;
    color: #fff;
    text-shadow: none;
}


/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-image-bg,
.section-container-image-bg h2,
.section-container-image-bg h3 {
    color: #fff;
}

.section-container-image-bg .divider-1 span {
    background: #fff;
}

.section-description {
    margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
    padding: 0 120px;
}

.section-container-image-bg .section-description p {
    opacity: 0.8;
}


.tr-form-container {
    margin-top: 70px;
}

.tr-form {
    padding-bottom: 40px;
}


.tr-form p {
    padding: 0;
}

.tr-form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: rgba(0, 0, 0, 0.55);
    text-align: left;
    border-radius: 5px 5px 0 0;
}

.tr-form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

.tr-form-top-left h3 {
    margin-top: 0;
    color: #fff;
}

.tr-form-top-left p {
    opacity: 0.8;
    color: #d6d6d6;
}

.tr-form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #fff;
    line-height: 100px;
    text-align: right;
    opacity: 0.3;
}

.tr-form-bottom {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
    text-align: left;
    padding: 25px 25px 25px 25px;
    border-radius: 0 0 5px 5px;
}

.tr-form-bottom form {
    overflow: hidden;
}

.tr-form-buttons {
    float: left;
    width: 100%;
    padding: 0 25px 0 25px;
}

.tr-form-box input[type="text"],
.tr-form-box input[type="password"],
.tr-form-box textarea,
.tr-form-box textarea.form-control {
    height: 50px;
    margin: 0;
    padding: 0  0 0 10px ;
    width: 100%;
    vertical-align: middle;
    background: #fff;
    border: 2px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #212121;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    align-content: center;
}

.tr-form-box textarea,
.tr-form-box textarea.form-control {
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

.tr-form-box input[type="text"]:focus,
.tr-form-box input[type="password"]:focus,
.tr-form-box textarea:focus,
.tr-form-box textarea.form-control:focus {
    outline: 0;
    background: #fff;
    border: 2px solid #be5254;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tr-form-box input[type="text"]::-moz-placeholder,
.tr-form-box input[type="password"]::-moz-placeholder,
.tr-form-box textarea::-moz-placeholder,
.tr-form-box textarea.form-control::-moz-placeholder {
    color: #A8A8A8;
}

.tr-form-box input[type="text"]:-ms-input-placeholder,
.tr-form-box input[type="password"]:-ms-input-placeholder,
.tr-form-box textarea:-ms-input-placeholder,
.tr-form-box textarea.form-control:-ms-input-placeholder {
    color: #A8A8A8;
}

.tr-form-box input[type="text"]::-webkit-input-placeholder,
.tr-form-box input[type="password"]::-webkit-input-placeholder,
.tr-form-box textarea::-webkit-input-placeholder,
.tr-form-box textarea.form-control::-webkit-input-placeholder {
    color: #A8A8A8;
}

.tr-form-box button.btn {
    position: relative;
    height: 50px;
    display: table;
    margin: 0 auto;
    vertical-align: middle;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    background: #be5254;
    padding:0 35px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.tr-form-box button.btn:hover {
    opacity: 0.6;
    color: #fff;
}

.tr-form-box button.btn:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tr-form-box button.btn:focus {
    outline: 0;
    opacity: 0.6;
    color: #fff;
}

.tr-form-box button.btn:active:focus,
.tr-form-box button.btn.active:focus {
    outline: 0;
    opacity: 0.6;
    background: #be5254;
    color: #fff;
}

.tr-form-box button.btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.1);
}

.tr-form-box label {
    font-weight: 300;
}

.tr-form-box label.radio-inline {
    margin-right: 15px;
    font-weight: 300;
}

.tr-form-box .radio-inline input[type="radio"] {
    position: static;
}

.tr-form-box .form-elements-divider {
    width: 100%;
    height: 1px;
    margin-bottom: 15px;
    background: #ddd;
}

/*Basic Information*/

.tr-form-box .basic-information  .first-name{
    float: left;
    width:56%;
}

.tr-form-box .basic-information .last-name{
    margin-left: 2%;
    width:42%;
    display: inline-block;
}

.tr-form-box .basic-information  .date-birth{
    width: 70%;
    float: left;
    -moz-border-radius: 4px 0 0 4px!important;
    -webkit-border-radius: 4px 0 0 4px!important;
    border-radius: 4px 0 0 4px!important;
}

.tr-form-box .basic-information .btn-date{
    background: #1645be;
    width: 30%;
    -moz-border-radius: 0  4px 4px 0!important;
    -webkit-border-radius: 0  4px 4px 0!important;
    border-radius: 0  4px 4px 0!important;
}

.intl-tel-input{
    color: #808080;
}

.tr-form-box .basic-information .sex{
    color: #fff;
    padding-left: 20px;
}

.tr-form-box .basic-information .sex-options{
    display: inline-block;
    padding-left: 20px ;
}


/***** MEDIA QUERIES *****/

@media (min-width: 992px) and (max-width: 1199px) {
    .tr-form-box .checkbox-inline+.checkbox-inline,
    .tr-form-box .radio-inline+.radio-inline {
        margin-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section-description p {
        padding: 0;
    }
    .tr-form-buttons {
        padding-top: 10px;
        text-align: center;
    }
    .tr-form-box .radio-inline+.radio-inline {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .section-description p {
        padding: 0;
    }
    .tr-form-bottom-left,
    .tr-form-bottom-right {
        width: 100%;
        padding: 0 25px;
    }
    .tr-form-buttons button.btn {
        margin-top: 10px;
    }
    .tr-form-box .form-elements-divider {
        width: 100%;
    }
    .tr-form-box textarea,
    .tr-form-box textarea.form-control {
        height: 100px;
    }
    .tr-form-box .radio-inline+.radio-inline {
        margin-left: 0;
    }
}

@media (max-width: 415px) {
    h1,
    h2 {
        font-size: 32px;
    }
    .tr-form-top-right {
        font-size: 40px;
        line-height: 90px;
    }
}


/* Retina-ize images/icons */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {}