html,body {
    height: 100%;
}
body {
    overflow: hidden;
    background: #fff;
}

.center-vertical .center-content {
    display: table-cell;
    vertical-align: middle;
}

a{
    color:#fff;
}

a:hover{
    cursor: pointer;
}
