.first-group:before{
    padding-top: 20px;
}

.workout-program{
    border: #F7F7F7 solid 1px;
}

.tab-content{
    border-bottom: #F7F7F7 solid 1px;
}

.meal_name_detail-div{
    display: none;
}

.exercise_list-div{
    padding-right: 0;
    margin-right: -1px;
}

.exercise_detail-btn-div{
    padding-left: 0;
    margin-left: -1px;
}


.exercise_detail_btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.select2-container--bootstrap{
    width: auto!important;
}
.select2-container--bootstrap .select2-selection {
    box-shadow: inset 1px 1px 3px #f6f6f6;
    background-color: #fff;
    border: 1px solid #dfe8f1;
    border-radius: 3px;
    color: #2b2f33;
    font-size: 13px;
    outline: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    -webkit-box-shadow: inset 1px 1px 3px #f6f6f6;
    box-shadow: inset 1px 1px 3px #f6f6f6;
    border-color: #dfe8f1;
}

.select2-container--bootstrap .select2-dropdown{
    border-color:#dfe8f1;
}

.select2-container--focus .select2-selection--single .select2-selection__rendered,
.select2-container--open .select2-selection--single .select2-selection__rendered,
.select2-container:hover .select2-selection--single .select2-selection__rendered{
    color: #3da6ff!important;
}

.btn-default{
    border-color: rgba(158, 173, 195, .16)
}
input{
    border-radius: 3px!important;
}

.add_exercise-div{
    clear: both;
}

.submit-btn-div{
    display: table;
    margin: 0 auto!important;
    padding-bottom: 20px!important;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #dfe8f1;
}

.create {
    float: right;
}
.toggle-content{
    display: none;
}

.progressbar,.workout-progress .progress-label,.workout-progress .progressbar-value,.diet-progress .progress-label,.diet-progress .progressbar-value{
    line-height: 34px;
    height: 35px;
}