.first-group:before{
 padding-top: 20px;
}

.workout-program{
    border: #F7F7F7 solid 1px;
}

.tab-content{
    border-bottom: #F7F7F7 solid 1px;
}

.submit-btn-div{
    display: table;
    margin: 0 auto!important;
    padding-bottom: 20px!important;
}

