/*
======================================
General Styles
======================================
*/
.file-caption.form-control.kv-fileinput-caption.icon-visible{
    padding: 0px;
}
.input-group-btn button.btn.btn-default{
    line-height: 31px;
    height: 37px;
    /* min-width: 34px; */
    padding: 1px 12px;
}

.input-group-btn a.btn.btn-default{
    height: 33px;
    line-height: 31px;
    text-decoration: none
}
.file-caption.icon-visible.file-caption-name{
    padding-left: 24px;
}



/*
======================================
Width Styles
======================================
*/
.w100p{width: 100%}


/*
======================================
Padding Styles
======================================
*/
.pL0{padding-left: 0px;}



.pL0i{padding-left: 0px !important;}
/*
======================================
Margin Styles
======================================
*/
.mT0{margin-top: 0px;}
.mB0{margin-bottom: 0px;}


.mT0i{margin-top: 0px !important;}
.mB0i{margin-bottom: 0px !important;}

/*
======================================
Text Align Styles
======================================
*/
.taR{text-align: right;}
.taL{text-align: left;}
.taC{text-align: center;}

.taRi{text-align: right !important;}
.taLi{text-align: left !important;}
.taCi{text-align: center !important;}

