/*
======================================
General Styles
======================================
*/
a{text-decoration: none;}
code, kbd, samp {
    font-family: Menlo,Monaco,Consolas,'Courier New',monospace;
    background: #0c172a;
    padding: 2px;
    color: #f5f5f5;
    border-radius: 5px;
}
.file-caption.form-control.kv-fileinput-caption.icon-visible{
    padding: 0px;
}
.input-group-btn button.btn.btn-default{
    line-height: 31px;
    height: 37px;
    /* min-width: 34px; */
    padding: 1px 12px;
}

.input-group-btn a.btn.btn-default{
    height: 33px;
    line-height: 31px;
    text-decoration: none
}
.file-caption.icon-visible.file-caption-name{
    padding-left: 24px;
}

.alert-danger {
    color: #c50804;
    background-color: #ffc9c96e;
    border-color: #ffc9c96e;
}
.table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>th{

}
.table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td {
    padding: 0 0 0 5px !important;
}

.table>tbody>tr>td>img{
    width: 20%;
    vertical-align: middle;
}
/*
======================================
Height Styles
======================================
*/
.h10{height: 10px}
.h30{height: 30px}
.h46{height: 46px}
.h50{height: 50px}
.h150{height: 100px}
.h150{height: 150px}
.h200{height: 200px}


/*
======================================
Width Styles
======================================
*/
.w100p{width: 100%}


/*
======================================
Padding Styles
======================================
*/
.pL0{padding-left: 0px;}



.pL0i{padding-left: 0px !important;}
/*
======================================
Margin Styles
======================================
*/
.mT0{margin-top: 0px;}
.mT5{margin-top: 5px;}
.mT10{margin-top: 10px;}
.mT15{margin-top: 15px;}

.mL0{margin-left: 0px;}
.mL5{margin-left: 5px;}
.mL10{margin-left: 10px;}
.mL15{margin-left: 15px;}
.mL20{margin-left: 20px;}
.mL25{margin-left: 25px;}
.mL28{margin-left: 28px;}


.mB0{margin-bottom: 0px;}
.mB5{margin-bottom: 5px;}
.mB10{margin-bottom: 10px;}
.mB15{margin-bottom: 15px;}


.mT0i{margin-top: 0px !important;}

.mB0i{margin-bottom: 0px !important;}

.mL28i{margin-left: 28px !important;}
/*
======================================
Text Align Styles
======================================
*/
.taR{text-align: right;}
.taL{text-align: left;}
.taC{text-align: center;}

.taRi{text-align: right !important;}
.taLi{text-align: left !important;}
.taCi{text-align: center !important;}


/*
======================================
Display Styles
======================================
*/
.dN{display: none;}
.dB{display: block;}
.dI{display: inline;}

.dNi{display: none !important;}
.dBi{display: block !important;}
.dIi{display: inline !important;}